
<!DOCTYPE html>
<html>
<head>
<meta />
<meta charset="UTF-8" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" type="text/javascript"></script>
</head>
<body>

<pre id="log">
</pre>
<form>
#iterations:<input type="number" size="4" value="1000" id="iterations">
<button>Start!</button></form>
<script src="static/common.js"></script>

<script>
	
var loop = (function() {
  var data_function;

  var go = function() {
    $.getJSON('/ajaxecho', data_function(), function(r) {
      //log(r);
      master_count = r.count;
      if (master_count < max_master_count) {
        go();
      } else {
        finish();
      }
    });
  };

  return {
     start: function(df) {
       data_function = df;
       go();
     }
  }

})();

$('button').click(function() {
  max_master_count = parseInt($('#iterations').val());
  log('start!')
  t1 = new Date();
  loop.start(function() {
    return {count: master_count, body: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere iste quam, iure id illum consequatur laboriosam distinctio laudantium dolore totam officiis modi, ipsa enim sequi velit ex corporis consequuntur pariatur."};
  });
  return false;
});

</script>


</body>
</html>
